In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [16]:
df = pd.read_csv('/content/youtube.csv')
df.head()

,Rank,Channel,Channel Created On,Country,Channel Type,Number of Subscribers(In Millions),Total Video Uploads(Till End Of The Week),Total Views(Till End Of The Week),Estimated Earnings in $(As on 03rd Oct 2022),Estimated Earnings in $(As on 04th Oct 2022),Estimated Earnings in $(As on 05th Oct 2022),Estimated Earnings in $(As on 06th Oct 2022),Estimated Earnings in $(As on 07th Oct 2022),Estimated Earnings in $(As on 08th Oct 2022),Estimated Earnings in $(As on 09th Oct 2022)
0,1,T-Series,2006-03-13,India,Music,226.0,17577,204000514162,0-0,36.5K-583.8K,25K-399.3K,50.2K-803.1K,21.8K-348.3K,23.3K-373.5K,21.9K-350.1K
1,2,Cocomelon - Nursery Rhymes,2006-01-09,US,Education,144.0,804,140688579075,21.5K-343.8K,21.6K-344.9K,10.5K-168.8K,36K-576.4K,20.7K-331.3K,10.8K-173K,28.4K-454.2K
2,3,SET India,2006-09-20,India,Entertainment,144.0,95983,130948644719,18.9K-301.8K,0-0,14.6K-234.2K,36.7K-587.9K,17.8K-285.2K,0-0,20.4K-325.8K
3,4,PewDiePie,2010-04-29,Japan,Games,111.0,4509,28548079395,246-3.9K,0-0,374-6K,410-6.6K,248-4K,374-6K,424-6.8K
4,5,MrBeast,2012-02-20,US,Entertainment,105.0,729,17563810806,3.2K-50.5K,5.5K-88.1K,0-0,4.6K-73.6K,2.1K-34.1K,2.8K-45.2K,2.6K-42.3K

In [23]:
df['Country'].unique()

array(['India', 'US', 'Japan', 'South Korea', 'Canada', 'Brazil',
       'Argentina', 'UK', 'Chile', 'Mexico', 'El Salvador', 'Puerto Rico'],
      dtype=object)

In [17]:
country_grp = df.groupby(['Country'])

In [18]:
country_grp['Channel Type'].value_counts().loc['India']

Channel Type
Music            8
Entertainment    4
Education        2
Film             1
News             1
Name: Channel Type, dtype: int64

In [21]:
country_grp['Channel Type'].value_counts().loc['US']

Channel Type
Music            7
Entertainment    6
Education        2
Sports           2
Film             1
Howto            1
Name: Channel Type, dtype: int64

In [33]:
country_grp['Channel Type'].value_counts().loc['Brazil']

Channel Type
Entertainment    2
Comedy           1
Music            1
Name: Channel Type, dtype: int64

We can select the above 3 countries and the categories as Music and Entertainment. The null hypothesis is that there is no relation between the country and the corresponding video categories. The alternative hypothesis can be that there is a relation or that they are not independent.

In [34]:
data = [[8, 4], [7, 6], [1, 2]]

In [37]:
test_statistic, p_value, dof, expected_freq = chi2_contingency(data)

In [38]:
print(f'Test Statistic - {test_statistic}\nP-Value - {p_value}\nDegrees of Freedom - {dof}')

Test Statistic - 1.1965811965811968
P-Value - 0.5497505779286571
Degrees of Freedom - 2

In [39]:
alpha = 0.05
if p_value <= alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis')

Fail to reject null hypothesis

Thus, we can conclude that the category of videos uploaded by most subscribed YouTubers in a country is independent of the country in which they reside.